.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-nav > h3 > button {
  background: none;
  border: none;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-dark);
}
