.button {
  padding: 0.75rem 1.3rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: var(--purple-light);
  color: #fff;
  border: 2px solid var(--purple-light);
  font-size: 0.96rem;
  font-weight: 500;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}

.outline {
  background: #fff;
  color: var(--text-dark);
  margin: 0;
}

.button:hover {
  opacity: 0.8;
}

.m-0 {
  margin: 0;
}

.block-btn {
  width: 100%;
}
