.selectMonthYear-actions {
  display: flex;
  justify-content: flex-end;
}

.selectMonthYear-title {
  text-align: center;
  margin-bottom: 1rem;
}

.pick-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.selectMonthYear-month {
  font-size: 2rem;
  padding: 0.5rem 0;
  border-top: 2px solid var(--purple-dark);
  border-bottom: 2px solid var(--purple-dark);
  width: 80px;
}

.chooseMonthYear {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
}

.chooseMonthYear-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
