.events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.event-card {
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.event-card-pink {
  background-color: #f9e6e6;
  box-shadow: 8.71px 8.71px 50px #fef2f2, -8.71px -8.71px 15px rgb(0 0 0 / 3%);
}

.event-card-purple {
  background-color: #e7d5f9;
  box-shadow: 8.71px 8.71px 50px #e6e6e6, -8.71px -8.71px 15px rgb(0 0 0 / 3%);
}

.event-card-green {
  background-color: #d1fae5;
  box-shadow: 8.71px 8.71px 50px #d1fae5, -8.71px -8.71px 15px rgb(0 0 0 / 3%);
}

.event-card-icon-purple {
  background-color: #d9bdf5;
}

.event-card-icon-green {
  background-color: #7ff7d9;
}

.event-card-icon-pink {
  background-color: #fbcfe8;
}

.event-card-icon {
  border-radius: 50%;
  padding: 0.5rem;
}

.event-card-icon-img {
  width: 30px;
}

.event-card-text {
  text-align: initial;
}
