.setUpEventModal {
  position: fixed;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.setUpEventModal-form {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

.setUpEventModal-header {
  padding-bottom: 0.5rem;
  display: flex;
}

.setUpEventModal-eventType {
  text-align: start;
  display: flex;
  align-items: baseline;
}

.setUpEventModal-select {
  padding: 0.7rem;
  border: 1px solid #ccc;
  margin: 1rem;
}
