.icon-button {
  background: var(--bg-light);
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--text-dark);
  font-weight: 400;
  cursor: pointer;
}

.icon-nav-button {
  background: none;
  outline: #fff;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted {
  color: var(--text-muted);
}

.currentDay {
  color: #fff;
  background: var(--purple-light);
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0rem;
  cursor: pointer;
}
